.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.Button:hover {
  background-color: lightgray;
  .Icon {
    color: black;
  }
}

.Icon {
  color: gray;
}

.FloatingEl {
  padding: 6px;
  border-radius: 5px;
  background-color: rgb(43, 41, 37);
  font-size: 12px;
  color: white;
}
