.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.Button:hover {
  background-color: lightgray;
  .Icon {
    color: black;
  }
}

.Icon {
  color: gray;
}
